
.modalBackground {
    width: 70vw;


    position: fixed;
    top: 70px;

  
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    border-radius: 9px;

  }

  .modalContainer {
    width: 90%;
    height: 90%;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(233, 5, 5, 0.35) 0px 5px 15px;
    display: flex;
  
    flex-direction: column;
    padding: 25px 10px;
  }
  
  .modalContainer .title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
  }
  
  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
  }
  
  .titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
  }
  
  .modalContainer .body {
   
    font-size: 1.3rem;
    text-align: center;
  }
  
  .modalContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer .footer button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
  }
  
  #cancelBtn {
    background-color: crimson;
  }
  #naslov{
    font-size: 25px;
    color:rgb(87, 87, 87)
  }
  .novi22{
    font-size: 20px;
  }